/********-reset-**********/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************fonts**********************/
@font-face {
	font-family: 'myCircularB';
	src: url(../fonts/Circular-bold.ttf);

	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'myCircularM';
	src: url(../fonts/Circular-medium.ttf);

	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'myCircularL';
	src: url(../fonts/Circular-light.ttf);

	font-style: normal;

}

@font-face {
	font-family: 'myCircularBook';
	src: url(../fonts/Circular-Book.otf);

	font-style: normal;

}

@font-face {
	font-family: 'myCircularBoldd';
	src: url(../fonts/Circular-boldd.ttf);

}

@font-face {
	font-family: 'myCircularMM';
	src: url(../fonts/Circular-mediumm.ttf);

}



@font-face {
	font-family: 'myCircularLL';
	src: url(../fonts/Circular-lightt.ttf);

}



/**************-header-*****************/

.AllOfHeader {
	height: 686px;
	background-color: black;
}

.Inside {
	max-width: 1349px;
	margin: 0 80px;
}

.Navbar .Inside img {
	margin-top: 5px;
	height: 34px;

}

.Navbar .Inside {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Navbar .Inside ul {
	display: flex;
}

/**************inside-nav************/
.HeaderLinks {
	display: flex;
	align-items: center;
	margin-left: 150px;
	align-content: center;
	font-size: 15.9px;
	font-weight: 500;
	letter-spacing: 0px;
	margin-top: -2px;
	text-indent: 0.4px;
	font-family: 'myCircularLL';


}
.HeaderLinks .li-experiences{
	position: relative;
	left: -2px;
}
.HeaderLinks .li-onlineexperiences{
	position: relative;
	left: 0;
}
.HeaderLinks .li-places{
	position: relative;
	left: -4px;
}

/*****************hover***********************/
.HeaderLinks a:hover {
	color: rgb(133, 133, 139);

}

.hvr-underline-from-center {
	display: inline;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}

.hvr-underline-from-center::before {
	content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ebebeb;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
	left:9.2%;
	/* border-radius: 20px; */
	right: 9.2%;
	 /* top: 100%;
	bottom: 0; */
	
} 
.hvr-underline-from-center:hover:before{
	left:9.2%;
	/* border-radius: 20px; */
	right: 9.2%;
	background: rgb(133, 133, 139);

}
/********************rightside-nav*****************************/
.RightNav {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Inside .RightNav .webimg {
	color: white;
	align-items: center;
	width: 48px;
	height: 42px;
	display: flex;
	margin-right: 3px;
	justify-content: center;
	align-items: center;
	align-content: center;

}

.Inside .RightNav .webimg :hover {
	border: 15px solid rgb(36, 34, 34);

	border-radius: 50px;

}

.Inside .RightNav .Host {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	color: white;
	width: 120px;
	height: 42px;
	font-family: 'myCircularM';
	border-radius: 50px;


}

.Inside .RightNav .Host a {
	text-decoration: none;
	font-size: 14px;
	padding-left: 4px;
}

.Inside .RightNav .Host:hover {
	background-color: rgb(36, 34, 34);
	/* border-radius: px; */
}

a {
	text-decoration: none;
	color: white
}

.HeaderLinks a {
	height: 40px;
	padding: 10px 15px;
}

/**********menu***************/
.Inside .RightNav .NavTools {
	padding: 7px 6px;
	width: 64.5px;
	height: 28px;
	background-color: white;
	border-radius: 25px;
	left: 0px;
	right:0;
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	margin-left: 1px;
}

.Inside .RightNav .NavTools img {
	position: relative;
	bottom: 2px;
	padding-right: 4px;
	left: 0px;
	width: 30px;
	top: -3px;
	padding-left: 7px;
}
.navtools-account{
	margin-left: 1px;
}

/*************searchbox*****************/

.UnderHeader .Inside .SearchBox {
	background-color: white;
	width: 850px;
	height: 66px;
	line-height: 18px;
	margin-left: 171px;
	border-radius: 50px;

}

.UnderHeader .Inside .SearchBox {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

/******************inside-searchbox**********************************/
.services {
	width: 100%;
}

.setalign {
	align-items: center;
}

.setflex {
	width: 100%;
	display: flex;
	flex-direction: row;
	border-radius: 50%;
}

.userinput {
	padding: 5px 19px;
	border-radius: 50px;


}

.mybtn {
	background-color: rgb(255, 56, 92);

	border-radius: 50px;
	margin-right: -3px;
}

.mybtn :hover {
	background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%)
}

button.searchbutton {
	display: flex;
	justify-content: center;
	background-color: rgb(255, 56, 92);
	font-family: "Circular";
	padding: 12px 12px;
	border-radius: 50px;
	width: 48px;
	height: 47.5px;
	overflow-x: hidden;
	position: relative;
	right: 0px;
	cursor: pointer;
}


.location {
	/* cursor: pointer; */
	padding: 4px 12px;
	width: 29%;
	font-size: 13px;
	font-family: 'myCircularMM';
}

.location:hover {
	background-color: #EBEBEB;
	pointer-events: none;
	overflow-y: 0;
	cursor: pointer;
	
}

.data {}

.date:hover {
	background-color: #EBEBEB;
	overflow: hidden;
}

.guestsearch {
	width: 25%;
	font-size: 12px;
	font-family: 'myCircularM';
	padding: 4px 12px;


}

.guestsearch:hover {
	background-color: #EBEBEB;
	overflow: hidden;
}

button.searchbutton :hover {}



.div-input label {}

.whitespace {
	position: relative;
	letter-spacing: 0.6px;
	left: 20px;
	top: 9px;
	font-size: 12px;
}

.userinput input {
	width: 100%;
	border: none;
	background-color: transparent;
	padding: 1px 0px;
	height: 80%;
	/* cursor: pointer; */
}

input[type=text] {
	width: 100%;
	height: 50%;
	padding: 10px 22px;
	border: none;
	outline: none;
	font-size: 14px;
	position: relative;
	left: -2px;
	text-indent: 0px;
	font-family: 'myCircularLL', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

input[type=date] {
	outline: none;
}

input[type=submit],
button {
	border: none;
	padding: 10px 35px;
	border-radius: 2px;
}

.date {
	width: 19%;
	font-size: 12px;
	font-family: 'myCircularM';
	padding: 4px 12px;


}

.userinput {
	display: block;
}

.seprateline {
	border-left: 1px solid #e6e3e3;
	align-self: center;
	height: 32px;
	position: relative;
	left: 7px;
}

.searchbutton .isearch{
	/* background: rgb(255, 56, 92) none repeat scroll; */
	position: relative;
	top: 2px;
}

/******************pink**********************/
.UnderHeader .Inside .PinkLay {
	background-color: #FF385c;
	width: 100%;
	height: 369px;
	border-radius: 11px;
	margin-top: 77px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;


}

.UnderHeader .Inside .PinkLay .refugees h1 {
	font-family: 'myCircularMM', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 38px;
	color: white;
	/* font-weight: 600; */
	letter-spacing: -0.02em;
	line-height: 43px;
	
}

.UnderHeader .Inside .PinkLay .learn {
	border-color: white;
	font-family: 'myCircularM';
	border-radius: 8px;
	font-size: 14px;
	border: 1px solid;
	cursor: pointer;
	padding: 11px 16.5px;
	margin-top: 24px;
	color: white;

}

/***********************end of header*******************************/

/* =====================start of subheader======================== */


/* main div */

.div__half {

	width: 100%;
	height: 596px;
	background: linear-gradient(to bottom, #000 50%, #fff 50%);
	position: relative;

}

/* image in main div */
.div__half--img {
	width: 1191px;
	margin: 0 80px;
	height: 596px;
	position: absolute;
	z-index: 2;
	background-image: url(../images/jungle2.webp);
	border-radius: 8px;
	background-size: cover;

}

.div__half--img-child {
	width: 1031px;
	height: 532px;
	z-index: 3;
	position: absolute;
	margin: 0 80px;

}

/* curiosity div  */
.div__half--title-curiosity {

	width: 577px;
	height: 43px;
	margin: 409px 0 233px 228px;
	text-align: center;
	position: absolute;
	font-family: 'myCircularMM', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
	font-size: 38px;
	line-height: 43px;
	letter-spacing: -0.76px;
	Color: #fff;
}

/* button flexible */
.div__half--button-flexible {
	font-family: 'myCircularB', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
	width: 161px;
	height: 56px;
	text-align: center;
	border-radius: 50px;
	background-color: #fff;
	position: absolute;
	font-size: 18px;
	line-height: 53px;
	box-shadow: none;
	text-decoration: none;
	margin: 476px 0 435px 435px;


}

/* button flexible hover */
.div__half--button-flexible:hover {
	background-color: #f7f7f7;
	cursor: pointer;
	transition: all 0s ease 0s;
	box-shadow: 0.2s ease-out;


}

/* button flexible text */

.div__half--button-flexible-span {
	background: -webkit-linear-gradient(to right, #6F019C, #C6017E);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #6F019C, #C6017E);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	position: relative;
	top: 1px;

}

/* button flexible active */
.div__half--button-flexible:active {
	transform: scale(0.95);
	transition: all 0.2s ease-in-out;
}


/* =========================================end of subheader================================= */

/* =========================================star of Inspiration================================= */
.Inspiration_Content {
	height: 458px;
}

.Inspiration_Content .Inside .Inspiration_Text h1 {
	font-size: 33px;
	color: black;
	width: 434px;
	height: 85px;
	margin-top: 96px;
	font-family: 'myCircularMM';

}

.Inspiration_Images .Inside {

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Inspiration_Images .Inside img {
	width: 279px;
	height: 186px;
	margin-bottom: 0px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	cursor: pointer;
}

.Under_Inspiration_images .Inside {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Under_Inspiration_images .Inside .text_under_img1 {
	background-color: #de3151;
	width: 279px;
	height: 175px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-top: -5px;
	cursor: pointer;
}

.Under_Inspiration_images .Inside .text_under_img1 h2 {
	color: white;
	font-size: 27px;
	margin-top: 20px;
	margin-left: 16px;
	font-family: 'myCircularM';
}

.Under_Inspiration_images .Inside .text_under_img1 span {
	font-size: 15px;
	color: white;
	position: relative;
	top: 8px;
	left: 16px;
}

.Under_Inspiration_images .Inside .text_under_img2 {
	background-color: #d93b30;
	width: 279px;
	height: 175px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-top: -5px;
	cursor: pointer;
}

.Under_Inspiration_images .Inside .text_under_img2 h2 {
	color: white;
	font-size: 27px;
	margin-top: 20px;
	margin-left: 16px;
	font-family: 'myCircularM';
}

.Under_Inspiration_images .Inside .text_under_img2 span {
	font-size: 15px;
	color: white;
	position: relative;
	top: 8px;
	left: 16px;
}

.Under_Inspiration_images .Inside .text_under_img3 {
	background-color: #cc2d4a;
	width: 279px;
	height: 175px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-top: -5px;
	cursor: pointer;
}

.Under_Inspiration_images .Inside .text_under_img3 h2 {
	color: white;
	font-size: 27px;
	margin-top: 20px;
	margin-left: 16px;
	font-family: 'myCircularM';
}

.Under_Inspiration_images .Inside .text_under_img3 span {
	font-size: 15px;
	color: white;
	position: relative;
	top: 8px;
	left: 16px;
}

.Under_Inspiration_images .Inside .text_under_img4 {
	background-color: #bc146e;
	width: 279px;
	height: 175px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-top: -5px;
	cursor: pointer;
}

.Under_Inspiration_images .Inside .text_under_img4 h2 {
	color: white;
	font-size: 27px;
	margin-top: 20px;
	margin-left: 16px;
	font-family: 'myCircularM';
}

.Under_Inspiration_images .Inside .text_under_img4 span {
	font-size: 15px;
	color: white;
	position: relative;
	top: 8px;
	left: 16px;
}

/* =========================================END of Inspiration================================= */



/* =========================================Start of experience================================   */



#experience {
	margin-top: 96px;
	width: 1366px;
	max-width: 100%;
	height: 668.500px;
	padding-top: 0;
}

#main_title {
	font-size: 33px;
	padding: 0 50px 48px 37px;
	margin-bottom: -81px;
	margin-left: 40px;
	color: #222222;
	letter-spacing: -0.02em;
	line-height: 37px;
	font-family: 'myCircularMM', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.experience_picture_class {
	display: flex;
	justify-content: space-between;
	margin: 80px;

}

.picture_class {
	background-position: center;
	background-size: cover;
	padding: 8rem;
	display: flex;
	flex-direction: column;
	padding-bottom: 27.8rem;
	padding-left: 150px;
	padding-right: 200px;
	border-radius: 12px;
	max-width: 50%;

}

.picture_text_class {
	width: 120%;
	margin: -87px -108px -108px -108px;
	font-size: 41px;
	font-weight: 100;
	letter-spacing: 0em;
	line-height: 41px;
	color: white;
	font-family: 'myCircularMM', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#trip {
	background: url(../images/trip.jpg);
	background-size: cover;
	width: max-content;
	margin-left: 1px;
	margin-right: 13px;

}

#home {
	background: url(../images/exp.jpg);
	background-size: cover;
	width: max-content;
	margin-right: -1px;
	margin-left: 12px;

}

.picture-on {
	margin: -105px;
	margin-top: 150px;
	background: white;
	background-position: left;
	border-radius: 10px;
	color: black;
	max-width: fit-content;
	font-family: 'myCircularM', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.picture-on:hover {
	background-color: #ebebeb;
}

.picture-on>span {
	display: inline-block;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 0.5px;
	padding: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-top: 15px;
	color: black
}

/* =========================================End of experience================================   */


/* =========================================Start of carts ====================================*/



.div__cart {

	width: 100%;
	height: 450.328px;
	position: relative;
	margin-top: 96px;
}

.div__cart--right {
	width: 886px;
	height: 450.328px;
	background-image: url(../images/img.webp);
	background-size: cover;
	position: absolute;
	right: 0px;
}

.div__cart--left {
	width: auto;
	height: 450px;

	margin-left: 0px;
}

.div__Cart--left-child {
	position: absolute;
	width: 385px;
	height: 450px;
	margin-left: 87px;

}

.div__cart--span-shopAir {

	color: #222222;
	font-family: 'myCircularMM', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
	font-size: 41px;
	height: 92px;
	line-height: 46px;
	margin: 0px;
	padding: 0px;
	width: 230px;
}

/* learn more button */
.div__cart--button-learn {
	font-family: 'myCircularL', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 43px;
	text-align: center;
	letter-spacing: normal;
	background: #222222;
	width: 133.203px;
	height: 48px;
	display: block;
	border-radius: 8px;
	margin-top: 24px;


}

.div__cart--button-learn:hover {
	background-color: #000;
	transition: all 0s ease 0s;
	cursor: pointer;
}

/* link learn more */
.div__cart--button-learn-a {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
	color: #fff;
	padding-top: 5px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}


/* =========================================End of carts ====================================*/

/* =========================================Start of hosting=================================*/
.div__main {




	background-image: url(../images/lady.png);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none solid rgb(34, 34, 34);
	
	background-position: 0% 0%;
	color: rgb(255, 254, 254);
	height: 675.5px;
	width: 1351px;
	padding: 80px;
	min-height: auto;
	display: block;
	
	box-sizing: border-box;
	word-wrap: anywhere;
	background-size: cover;
	cursor:default;
	



}


.div__main--span-question {

	font-family: 'myCircularM', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
	
	font-size: 74px;
	letter-spacing: -1.4px;
	line-height: 77px;
	text-decoration: none solid rgb(255, 255, 255);
	white-space: pre-line;
	word-spacing: 0px;
	background-position: 0 0;
	color: #fff;
	height: 231px;
	width: 341.812px;
	min-height: auto;
	min-width: 100%;
	display: block;
	margin-top: -160px;

}

.div__main--second {
	display: block;
	height: 48px;
	width: 1191px;
	box-sizing: border-box;
	margin-top: 400px;
}

.div__main--second-askButton {
	font-size: 14px;
	line-height: 20px;
	text-decoration: none solid rgb(0, 0, 0);
	text-align: center;
	background-color: #fff;
	color: #000;
	display: block;
	cursor: pointer;

	width: 170px;
	height: 48px;
	border-radius: 8px;
}

.div__main--second-child{

	margin-top: -11px;
}
.div__main--second-superHost {

	color: #080707;
	font-family: 'myCircularMM', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
	font-size: 17px;

	font-style: normal;
	line-height: 20px;
	
	padding: 13px 0px;
	width: auto;
	display: block;

}

.div__main--second-askButton:hover {
	background-color: #ebebeb;

	transition: a11 0s ease 0s;

}

/* =========================================End of hosting=================================*/
/* =========================================start of footer=================================*/

.alloffooter .Inside {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

}

.alloffooter {
	background-color: #F7F7F7;
	height: 399px;

}

.alloffooter .Inside ul {
	width: 279px;

	margin-top: 35px;
}

.alloffooter .Inside ul li a {
	height: 18px;
	line-height: 2.6;
	color: black;
	font-size: 14px;
	font-family: 'myCircularLL';
}


.alloffooter .Inside ul li :hover {
	text-decoration: underline;
	color: #000;
}

.underfooter .privacypart .private :hover {
	text-decoration: underline;
	color: black;
}

.alloffooter .Inside .support1 {
	padding-top: 2px;
	line-height: 30px;
	color: #000;
	margin-left: -27px;
}

.alloffooter .Inside .community {
	padding-top: 2px;
	line-height: 32px;

}

.alloffooter .Inside .hosting {
	padding-top: 2px;
	line-height: 32px;
}

.alloffooter .Inside .about {
	padding-top: 2px;
	line-height: 32px;
}

hr.new {

	/* margin-top: 100px;
	margin: 0 80px;
	color: #757575; */
	margin-top: 48px;
	 margin-left: 80px;
	  margin-right: 80px; 
	  border: 0.01px solid rgb(221,221,221);
	   

}

.underfooter {
	/* height: 69px; */
	margin: 0 80px;
}

.privacypart ul {

	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* margin-top: -7px; */
	font-family: 'myCircularL';
}

.privacypart ul li {

	margin-left: 19px;
	font-size: 14px;
}

.privacypart ul li a {
	color: black;
	font-size: 14px;
}

.privacypart .li-m{

	position: relative; 
	left: 512px;
	top: 7px;
}

.privacypart .li-e{
	position: relative; 
	left: 496px;
	top: 7px;
}

.privacypart .li-us{
	position: relative; 
	left: 499px;
	top: 7px;
}

.privacypart .li-f{
	position: relative; 
	left: 557px;
	top: 7px;
}

.privacypart .li-t{
	position: relative; 
	left: 557px;
	top: 7px;
}

.privacypart .li-i{
	position: relative; 
	left: 562px;
	top: 7px;
}









/* =========================================end of footer=================================*/