/********-reset-**********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**************-header-*****************/

.AllOfHeader{
height: 686px;
background-color: black;
}
.Inside{
	max-width: 1349px;
	margin:0 80px;
}
.Navbar .Inside img{
	margin-top: 5px;
	height:34px;

}
.Navbar .Inside{
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.Navbar .Inside ul{
	display: flex;
}
/**************inside-nav************/
.HeaderLinks
{		display: flex;
	align-items: center;
	margin-left: 148px;
	align-content: center;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 0.25px;

	
}
/*****************hover***********************/
/* Underline From Center */
.HeaderLinks a:hover{
	color:rgb(200, 200, 204);
	
}
.hvr-underline-from-center {
	display: inline;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	border-radius: 10px;
	transform:skewX(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
  }
  .hvr-underline-from-center::before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	max-width: 4px;
	right:50%;
	top: 100%;
	background: #ebebeb;
	height: 2px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 48%;
border-radius: 20px;
	right: 48%;
	top: 100%;
	bottom: 0;
  }
  /********************rightside-nav*****************************/
  .RightNav{
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
 .Inside .RightNav .webimg{
	color: white;
	align-items: center;
	width: 48px;
	height:42px;
	padding: 10px;

} 
.Inside .RightNav .webimg .material-icons
{
	color: white;
	position: relative;
	left: 24px;
	top: 10.5px;
} 

.Inside .RightNav .webimg :hover{
	background-color: rgb(72 , 72,72);
	border-radius: 50px;
	
}
.Inside .RightNav .Host{
	display: flex;
	align-content: center;
	align-items: center;
	color:white;
	padding: 10px 0px;
	height: 30px;
	font-size: 24px;
	font-weight:bolder;

}

.Inside .RightNav .Host a{
	text-decoration: none;
	font-size: 15px;
}
.Inside .RightNav .Host:hover
{
background-color: rgb(36, 34, 34);
border-radius: 50px;
}

a{
	text-decoration: none;
	color:white
}
.HeaderLinks a{
height: 40px;
padding: 10px 18px;	
}

/**********menu***************/
.Inside .RightNav .NavTools{
	padding: 6px 6px;
	width: 64px; height: 28px;
	background-color: white;
	border-radius: 25px;
	left: 2%;
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding-bottom: 6px;
}

.Inside .RightNav .NavTools img{
	position: relative;
	bottom: 2px;
	/* top: 1px; */
	padding-right: 5px;
left: 5px;
width: 30px;}
/*************searchbox*****************/

.UnderHeader .Inside .SearchBox{
	/* display: flex; */
	background-color: white;
	width: 848px;
	height: 67px;
	margin-left: 149px;
	border-radius: 45px;
	
}
.UnderHeader .Inside .SearchBox{
display: flex;
/* justify-content: space-between; */
flex-wrap: nowrap;
align-items: center;
}
/******************inside-searchbox**********************************/
.services{
    width:100%;
}
.setalign {
    align-items: center;
}
.setflex {
    width: 100%;
    display: flex;
    flex-direction: row;
	/* border: 1px solid; */
	border-radius: 50%;
}
.userinput {
    padding: 7px 19px;
    border-radius: 50px;

	
}
.location {
	cursor: pointer;
    width:28%;
	/* border-radius: 50%; */
	
}
.location:hover {
	/* border: 1px solid; */
	background-color: #EBEBEB;
	/* border-radius: 100%; */
	/* overflow: hidden; */
	/* border-left: 1px solid; */
	/* border-top-left-radius: 25%; */
	border-right: 50%;
	pointer-events: none;
}
.date:hover {
	/* border: 1px solid; */
	background-color: #EBEBEB;
	/* border-radius: 100%; */
	overflow: hidden;
	/* border-left: 1px solid; */
	/* border-top-left-radius: 25%; */
	border-right: 50%;
}
.guest:hover {
	/* border: 1px solid; */
	background-color: #EBEBEB;
	/* border-radius: 100%; */
	overflow: hidden;
	/* border-left: 1px solid; */
	/* border-top-left-radius: 25%; */
	border-right: 50%;
}




.div-input label {
    /* color: rgb(0, 0, 0); */
}
.whitespace {
    position: relative;
	left: 5px;
	top: 10px;
}
.userinput input {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 1px 0px;
	height: 80%;
	cursor: pointer;
}
input[type=text] {
    width: 100%;
	height: 50%;
    padding: 10px 5px;
    border: none;
	outline: none;
}
input[type=date]
{
	outline: none;
}
.date {
    width: 15%;
	padding-right: 30px;
}
.gusest{
}
.seprateline{
	border-left: 1px solid #e6e3e3;
	align-self: center;
	/* flex: 0 0 0; */
	height: 32px;
}
.magnifer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5.5%;
	height: 10px;
	background-image: ;
}
/******************pink**********************/
.UnderHeader .Inside .PinkLay
{
	background-color: #FF385c;
	width: 100%;
	height: 365px;
	border-radius:15px;
	margin-top: 77px;

}


